*{
    font-family: 'Roboto', sans-serif;
}
.bg-emmo{
    background: url('../img/bg_emmo.png') no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.footer_text{
    font-weight: bold;
}
.footer_hr {
    border: 2px solid #FFFFFF;
    width: 30%;
    margin-left: 0px!important;
}
